/.vscode
/fbData.txt
/lab14fbFuncts.exe
/lab14fbFuncts.ilk
/lab14fbFuncts.obj
/lab14fbFuncts.pdb
/lab14functs.exe
/lab14functs.ilk
/lab14functs.obj
/lab14functs.pdb
/lab14main.exe
/lab14main.ilk
/lab14main.obj
/lab14main.pdb
/vc140.pdb
/__MACOSX